$susy: (
	columns: 12,
	gutters: 1/5,
	math: fluid,
	output: float,
	gutter-position: after,

	debug: (
		image: hide,
		// image: show,
		color: rgba(#66f, .25),
		output: background,
		toggle: top right,
	)
);
