footer#colophon{
  padding: 2% 0;
  background-image: url('../img/footer-1.jpg');
  background-position: cover;

  div.site-info{
    text-align: center;
    padding: 20px 10px;
    margin: 2% 0 2% 0 !important;
    font-size: 26px;
    color: #444444;
    background-color: fade-out(#E8E8E8 , 0.1);
    border: 1px solid #fff;

    @include span(first 5);

    @include breakpoint(max-width 768px) {
      @include span(first 12);
      font-size: 22px;
    }

    @include breakpoint(max-width 480px) {
      @include span(first 12);
      font-size: 14px;
    }

  } // end site info

} //end footer

/*  *****Footer Widget Styles*****  */

footer#colophon .col-full div.footer-widgets{
  border-bottom: 0;

  div.block{
    background-color: fade-out(#E8E8E8 , 0.1);
    border: 1px solid #fff;

    div.widget{
      color: lighten(#444444, 1%);
      margin-bottom: 2%;
      padding: 10px;

      span.widget-title{
        color: #444444;
        padding-bottom: 0;
        text-align: center;
      }

    } // end widget

  } //end asie general styles


  div.block div#nav_menu-3{
    div.menu-main-container{

      ul#menu-main-2{
        margin-left: 7%;
        li{
          &::before{
            color: lighten(#00A5BF, 1%);
          }
        }
        li a{
          transition: all 0.6s ease;
          color: lighten(#444, 14%);
          &:hover, &:focus{
            color: #fff;
          }
        } //end a
        li.current-menu-item a{
            color: #444444;
        } //end a

      } //end ul
    } // end menu container
  } //end nav menu-2

} //end footer widgets


/*    storefront-handheld-footer-bar          */
footer#colophon div.col-full{
  div.storefront-handheld-footer-bar{
    display: none;
  }
}

/*  *****Footer Widget breakpoints*****  */
footer#colophon div.col-full div.footer-widgets{

  div.block.footer-widget-1{
    @include breakpoint(max-width 992px ) {
      @include span(12 of 12);
      margin-bottom: 1%;
    }
    @include breakpoint(max-width 480px ) {
      margin-bottom: 2%;
    }
  } //end widget 3

  div.block.footer-widget-2{
    @include breakpoint(max-width 992px ) {
      @include span(first 6 of 12);
    }
    @include breakpoint(max-width 480px ) {
      @include span(12 of 12);
      margin-bottom: 2%;
    }
  } //end widget 2

  div.block.footer-widget-3{
    @include breakpoint(max-width 992px ) {
      @include span(last 6 of 12);
    }
    @include breakpoint(max-width 480px ) {
      @include span(12 of 12);
    }
  } //end widget 3

} // end footer widgets
